{% load static %}

 <!--Conteudo financeiro-->
 <div class="title-group mb-3">
    <h1 class="h2 mb-0">Visão geral</h1>

    <small class="text-muted">Hello Thomas, welcome back!</small>
</div>

<div class="row my-4">
    <div class="col-lg-7 col-12">
        <div class="custom-block custom-block-balance">
            
            <small>Entrada</small>

            <h2 class="mt-2 mb-3">$254,800</h2>

            <br>

            <small>Saída</small>

            <h2 class="mt-2 mb-3">$254,800</h2>

            <div class="d-flex">
                <div class="ms-auto">
                    <small>Card Holder</small>
                    <p>Thomas</p>
                </div>
            </div>
        </div>
        <!--/Conteudo financeiro-->